<header class="header">
  <div class="search-container">
    <svg class="search-icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
    </svg>
    <input type="text" class="search-input" placeholder="Buscar producto, proveedor, pedido" />
  </div>

  <div class="header-actions">
    <div class="notification-wrapper">
      <button class="notification-btn" (click)="toggleNotificationDropdown()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
        </svg>
        @if (alertCount > 0) {
          <span class="notification-badge">{{ alertCount }}</span>
        }
      </button>

      
      @if (showNotificationDropdown) {
        <div class="notification-dropdown">
          <div class="dropdown-header">
            <h3>Alertas de Stock</h3>
            @if (alertCount > 0) {
              <span class="alert-count">{{ alertCount }} activas</span>
            }
          </div>

          <div class="dropdown-body">
            @if (alertas.length === 0) {
              <div class="empty-notifications">
                <svg width="48" height="48" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                </svg>
                <p>No hay alertas pendientes</p>
              </div>
            } @else {
              @for (alerta of alertas; track alerta.id) {
                <div class="notification-item">
                  <div class="notification-icon">
                    <svg width="16" height="16" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <div class="notification-content">
                    <p class="notification-title">{{ alerta.productoNombre }}</p>
                    <p class="notification-desc">Stock: {{ alerta.stockActual }} unidades</p>
                    <span class="notification-badge" [ngClass]="getTipoBadgeClass(alerta.tipo)">
                      {{ getTipoTexto(alerta.tipo) }}
                    </span>
                  </div>
                </div>
              }
            }
          </div>

          @if (alertCount > 0) {
            <div class="dropdown-footer">
              <button class="btn-view-all" (click)="goToAlertas()">
                Ver todas las alertas
                <svg width="16" height="16" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
              </button>
            </div>
          }
        </div>
      }

      
      @if (showNotificationDropdown) {
        <div class="notification-backdrop" (click)="closeNotificationDropdown()"></div>
      }
    </div>

    <a routerLink="/perfil" class="user-profile">
      <img src="https://ui-avatars.com/api/?name=Usuario&background=059669&color=fff" alt="User" class="avatar" />
    </a>
  </div>
</header>
