<header class="header">
  <div class="search-container">
    <svg class="search-icon" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
    </svg>
    <input type="text" class="search-input" placeholder="Buscar producto, proveedor, pedido" />
  </div>

  <div class="header-actions">
    <button class="notification-btn">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
      </svg>
      <span class="notification-badge"></span>
    </button>

    <a routerLink="/perfil" class="user-profile">
      <img src="https://ui-avatars.com/api/?name=Usuario&background=059669&color=fff" alt="User" class="avatar" />
    </a>
  </div>
</header>
